<script type="text/javascript">
    base = "${base}";
</script>

<!-- jquery -->
<script type="text/javascript" src="${base}/js/jquery-3.2.1.min.js"></script>

<!-- bootstrap -->
<script type="text/javascript" src="${base}/js/bootstrap.js"></script>

<!-- layui -->
<script type="text/javascript" src="${base}/js/layer/layui.js"></script>
<script type="text/javascript" src="${base}/js/layer/layui.all.js"></script>

<!-- 自定义 -->
<script type="text/javascript" src="${base}/js/common/ajax_request.js"></script>
<script type="text/javascript" src="${base}/js/common/page_style.js"></script>
<script type="text/javascript" src="${base}/js/common/request_host.js"></script>

