.tree-title {
    cursor: pointer;
}
.component-title{
    font-size: 22px;
    letter-spacing: 3px;
    width: 400px;
    color: white;
    left: 20px;
}
.tree-title{
    line-height: 36px;
    border-left: 5px solid #009E94;
    margin: 15px 0 5px;
    padding: 0 10px;
    background-color: #f2f2f2;
}

/* 提示语 */
.tip-text{
    font-size: 13px;
    color: #7e7e7e;
}
.tip-icon{
    float: left;
    color: #1E9FFF;
}
.tip-content{
    float: left;
    width: 85%;
    margin-left: 5px;
}

/* layui 主界面样式 */
.layui-main{
    width: 99%;
}
.site-content{
    width: 100vm;
}