<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑服务</title>
    <script type="text/javascript" src="${base}/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="${base}/js/bootstrap.js"></script>
    <script type="text/javascript" src="${base}/js/layer.js"></script>
    <link rel="stylesheet" href="${base}/css/bootstrap.min.css">
    <link rel="stylesheet" href="${base}/css/font-awesome.min.css">
    <link rel="stylesheet" href="${base}/css/layer.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h2><i class="fa fa-spinner fa-pulse"></i> 资源管理</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form action="${base}/admin/resource/saveService.html" method="post" class="form-horizontal">
                    <input type="hidden" name="id" value="${(path.id?string('0'))!''}"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">服务名称:</label>
                        <div class="col-sm-10">
                            <input type="text" name="serviceName" value="${(path.serviceName)!''}" class="form-control" placeholder="服务名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">服务地址:</label>
                        <div class="col-sm-10">
<!--                            <input type="text" name="pathDir" value="${(path.pathDir)!''}" class="form-control" placeholder="服务地址">-->
                            <select name="configId" class="form-control">
                                <option value="">请选择服务地址</option>
                                <#list configList as config>
                                    <option value="${config.id}" <#if config.id == path.configId>selected</#if> >${config.configName}</option>
                                </#list>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述:</label>
                        <div class="col-sm-10">
                            <input type="text" name="serviceDesc" value="${(path.serviceDesc)!''}" class="form-control" placeholder="描述">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-info" onclick="window.history.back();"><i class="fa fa-mail-reply"></i> 返回列表</button>
                            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> 保存服务</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>