<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>配置详情</title>
    <script type="text/javascript" src="${base}/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="${base}/js/bootstrap.js"></script>
    <script type="text/javascript" src="${base}/js/layer.js"></script>
    <link rel="stylesheet" href="${base}/css/bootstrap.min.css">
    <link rel="stylesheet" href="${base}/css/font-awesome.min.css">
    <link rel="stylesheet" href="${base}/css/layer.css">
    <style type="text/css">
        .titleSpan{
            color: #ee5704;
        }

        .td-left {
            width: 200px;
            height: 50px;
            text-align: right;
            font-family: 幼圆;
            background-color: rgba(178, 179, 179, 0.45);
            color: #002642;
            padding-right: 10px;
        }
        td{
            padding-left: 10px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h2><i class="fa fa-spinner fa-pulse"></i> 配置管理</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">配置详情</div>
                <div class="panel-body">
                    <table class="layui-table" lay-skin="nob">
                        <tr>
                            <td class="td-left"><span class="titleSpan">ID:</span></td>
                            <td><span>${config.id?string('0')}</span></td>
                        </tr>
                        <tr>
                            <td class="td-left"><span class="titleSpan">配置名称:</span></td>
                            <td><span>${config.configName}</span></td>
                        </tr>
                        <tr>
                            <td class="td-left"><span class="titleSpan">windows-本地地址:</span></td>
                            <td><span>${config.wdLocationPath}</span></td>
                        </tr>
                        <tr>
                            <td class="td-left"><span class="titleSpan">linux或Mac-本地地址:</span></td>
                            <td><span>${config.lmLocationPath}</span></td>
                        </tr>
                        <tr>
                            <td class="td-left"><span class="titleSpan">状态:</span></td>
                            <td>
                                <span>
                                    <#if config.status == 1>
                                        启用
                                        <#else>
                                        禁用
                                    </#if>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left"><span class="titleSpan">创建时间:</span></td>
                            <td><span>${(config.createTime?string('yyyy-MM-dd HH:mm:ss'))!''}</span></td>
                        </tr>
                        <tr>
                            <td class="td-left"><span class="titleSpan">修改时间:</span></td>
                            <td><span>${(config.updateTime?string('yyyy-MM-dd HH:mm:ss'))!''}</span></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-info" onclick="window.history.back();"><i class="fa fa-mail-reply"></i> 返回列表</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>