<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>菜单配置</title>

    <!-- js -->
    <#include "/admin/common/script.html">
    <!-- css -->
    <#include "/admin/common/style.html">

    <style rel="stylesheet" type="text/css">
        .layui-tree-entry{
            height: 30px;
        }
        .layui-tree-entry:hover{
            background-color: rgba(255, 204, 192, 0.17);
        }

        #menu_icon_i{
            margin: 0 20px;
        }
        #save_menu_btn{
            float: right;
        }
    </style>
</head>
<body>

<!-- head -->
<#include "/admin/common/head.html">

<div class="layui-main site-inline main_panel">

    <!-- 左侧菜单栏 -->
    <#include "/admin/common/menu_tree.html">

    <div class="site-content">
        <div id="menu_tree_config" class="layui-col-xs3"></div>
        <div id="menu_config" class="layui-col-xs7">
            <form class="layui-form layui-form-pane" action="">
                <input type="hidden" name="id">
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="menuName" required  lay-verify="required" placeholder="请输入菜单名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单链接</label>
                    <div class="layui-input-block">
                        <input type="text" name="menuUrl" required lay-verify="required" placeholder="请输入菜单链接" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">上级菜单</label>
                    <div class="layui-input-block">
                        <select name="parentId" id="parentId" lay-verify="required">
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单图标</label>
                    <div class="layui-input-inline">
                        <input type="hidden" name="menuIcon" placeholder="请输入菜单图标" autocomplete="off" class="layui-input">
                        <div>
                            <i id="menu_icon_i"></i>
                            <button type="button" class="layui-btn layui-btn-normal" onclick="menu_icon_setting()">设置图标</button>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">权重</label>
                    <div class="layui-input-block">
                        <input type="number" name="sort" required  lay-verify="required" placeholder="请输入菜单权重" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="status" lay-skin="switch" lay-text="启用|禁用" value="1" checked>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-danger" lay-submit lay-filter="saveMenu" id="save_menu_btn"><i class="layui-icon">&#xe608;</i> 保存菜单配置</button>
                    </div>
                </div>
            </form>
            <hr>
            <div class="tip-text site-text layui-text">
                <div class="tip-icon"><i class="layui-icon layui-icon-tips"></i> </div>
                <div class="tip-content">
                    1. 系统支持两级菜单，一级菜单的上级菜单默认为无，菜单链接设置为 # 符号，菜单链接不必设置，否则会很难看哦<br>
                    2. 菜单链接请以 / 开头，否则链接跳转失败哦，菜单链接请和管理员确认后进行配置，避免发生不必要的错误<br>
                    3. 权重是菜单显示排序值，如你所见，权重越小显示越前面呢
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<#include "/admin/common/footer.html">
<#include "/admin/common/icon.html">

</body>
<!-- 主js -->
<script type="text/javascript" src="${base}/js/menu/main.js"></script>
<!-- 图标js -->
<script type="text/javascript" src="${base}/js/menu/icon.js"></script>
</html>