<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <title>本地资源</title>
    <script type="text/javascript" src="${base}/js/customer.js"></script>
    <script type="text/javascript" src="${base}/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="${base}/js/bootstrap.js"></script>
    <script type="text/javascript" src="${base}/js/layer.js"></script>
    <link rel="stylesheet" href="${base}/css/bootstrap.min.css">
    <link rel="stylesheet" href="${base}/css/font-awesome.min.css">
    <link rel="stylesheet" href="${base}/css/layer.css">
    <link rel="stylesheet" href="${base}/css/customer.css">
    <style type="text/css">
        td{
          height: 30px;
        }
        .left-td{
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="container-fluid div-all">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h2><i class="fa fa-book fa-pulse"></i> 本地资源</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="dataTables_wrapper form-inline">
                            <table class="table"><!-- table-striped table-bordered table-hover dataTables-example dataTable-->
                                <tr>
                                    <th>服务名称</th>
                                    <th>描述</th>
                                    <th>操作</th>
                                </tr>
                                <#list servicePaths as path>
                                    <tr>
                                        <td>${path.serviceName}</td>
                                        <td>${path.serviceDesc}</td>
                                        <td>
                                            <a href="${base}/web/resource/resourceList.html?serviceId=${path.id?string('0')}" class="btn btn-xs btn-info"><i class="fa fa-bookmark"></i> 查看资源列表</a>
                                        </td>
                                    </tr>
                                </#list>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <div class="div-box div-box-sm">
                    <a href="${base}/web/resource/index.html"><i class="fa fa-mail-reply"></i> 首页</a>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="div-box div-box-sm">
                    <a href=""><i class="fa fa-refresh"></i> 刷新</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(function(){
        background("pc_bg_02.jpg","mobile_bg_02.jpg");
    });
</script>
</html>