<style type="text/css">
    .site-doc-icon{
        margin: 10px 10px;
    }
    .site-doc-icon li{
        width: 120px;
        height: 100px;
        cursor: pointer;
    }
    .select-icon-li{
        border: #13abec solid !important;
        background-color: #0b0a0a !important;
        color: white !important;
    }
    .select-icon-li:hover{
        border: #13abec solid !important;
        background-color: #0b0a0a !important;
        color: white !important;
    }
</style>

<div id="icon-panel" style="display: none;">
    <ul class="site-doc-icon">
        <li>
            <i class="layui-icon layui-icon-rate-half"></i>
            <div class="doc-icon-name">半星</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-rate"></i>
            <div class="doc-icon-name">星星-空心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-rate-solid"></i>
            <div class="doc-icon-name">星星-实心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-cellphone"></i>
            <div class="doc-icon-name">手机</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-vercode"></i>
            <div class="doc-icon-name">验证码</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-login-wechat"></i>
            <div class="doc-icon-name">微信</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-login-qq"></i>
            <div class="doc-icon-name">QQ</div>
        </li>

        <li>
            <i class="layui-icon layui-icon-login-weibo"></i>
            <div class="doc-icon-name">微博</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-password"></i>
            <div class="doc-icon-name">密码</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-username"></i>
            <div class="doc-icon-name">用户名</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-refresh-3"></i>
            <div class="doc-icon-name">刷新-粗</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-auz"></i>
            <div class="doc-icon-name">授权</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-spread-left"></i>
            <div class="doc-icon-name">左向右伸缩菜单</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-shrink-right"></i>
            <div class="doc-icon-name">右向左伸缩菜单</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-snowflake"></i>
            <div class="doc-icon-name">雪花</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-tips"></i>
            <div class="doc-icon-name">提示说明</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-note"></i>
            <div class="doc-icon-name">便签</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-home"></i>
            <div class="doc-icon-name">主页</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-senior"></i>
            <div class="doc-icon-name">高级</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-refresh"></i>
            <div class="doc-icon-name">刷新</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-refresh-1"></i>
            <div class="doc-icon-name">刷新</div>
        </li>

        <li>
            <i class="layui-icon layui-icon-flag"></i>
            <div class="doc-icon-name">旗帜</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-theme"></i>
            <div class="doc-icon-name">主题</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-notice"></i>
            <div class="doc-icon-name">消息-通知</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-website"></i>
            <div class="doc-icon-name">网站</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-console"></i>
            <div class="doc-icon-name">控制台</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-face-surprised"></i>
            <div class="doc-icon-name">表情-惊讶</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-set"></i>
            <div class="doc-icon-name">设置-空心</div>
        </li>

        <li>
            <i class="layui-icon layui-icon-template-1"></i>
            <div class="doc-icon-name">模板</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-app"></i>
            <div class="doc-icon-name">应用</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-template"></i>
            <div class="doc-icon-name">模板</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-praise"></i>
            <div class="doc-icon-name">赞</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-tread"></i>
            <div class="doc-icon-name">踩</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-male"></i>
            <div class="doc-icon-name">男</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-female"></i>
            <div class="doc-icon-name">女</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-camera"></i>
            <div class="doc-icon-name">相机-空心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-camera-fill"></i>
            <div class="doc-icon-name">相机-实心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-more"></i>
            <div class="doc-icon-name">菜单-水平</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-more-vertical"></i>
            <div class="doc-icon-name">菜单-垂直</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-rmb"></i>
            <div class="doc-icon-name">金额-人民币</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-dollar"></i>
            <div class="doc-icon-name">金额-美元</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-diamond"></i>
            <div class="doc-icon-name">钻石-等级</div>
        </li>

        <li>
            <i class="layui-icon layui-icon-fire"></i>
            <div class="doc-icon-name">火</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-return"></i>
            <div class="doc-icon-name">返回</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-location"></i>
            <div class="doc-icon-name">位置-地图</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-read"></i>
            <div class="doc-icon-name">办公-阅读</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-survey"></i>
            <div class="doc-icon-name">调查</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-face-smile"></i>
            <div class="doc-icon-name">表情-微笑</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-face-cry"></i>
            <div class="doc-icon-name">表情-哭泣</div>
        </li>

        <li>
            <i class="layui-icon layui-icon-cart-simple"></i>
            <div class="doc-icon-name">购物车</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-cart"></i>
            <div class="doc-icon-name">购物车</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-next"></i>
            <div class="doc-icon-name">下一页</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-prev"></i>
            <div class="doc-icon-name">上一页</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-upload-drag"></i>
            <div class="doc-icon-name">上传-空心-拖拽</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-upload"></i>
            <div class="doc-icon-name">上传-实心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-download-circle"></i>
            <div class="doc-icon-name">下载-圆圈</div>
        </li>

        <li>
            <i class="layui-icon layui-icon-component"></i>
            <div class="doc-icon-name">组件</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-file-b"></i>
            <div class="doc-icon-name">文件-粗</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-user"></i>
            <div class="doc-icon-name">用户</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-find-fill"></i>
            <div class="doc-icon-name">发现-实心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>
            <div class="doc-icon-name">loading</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-loading-1 layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>
            <div class="doc-icon-name">loading</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-add-1"></i>
            <div class="doc-icon-name">添加</div>
        </li>

        <li>
            <i class="layui-icon layui-icon-play"></i>
            <div class="doc-icon-name">播放</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-pause"></i>
            <div class="doc-icon-name">暂停</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-headset"></i>
            <div class="doc-icon-name">音频-耳机</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-video"></i>
            <div class="doc-icon-name">视频</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-voice"></i>
            <div class="doc-icon-name">语音-声音</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-speaker"></i>
            <div class="doc-icon-name">消息-通知-喇叭</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-fonts-del"></i>
            <div class="doc-icon-name">删除线</div>
        </li>

        <li>
            <i class="layui-icon layui-icon-fonts-code"></i>
            <div class="doc-icon-name">代码</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-fonts-html"></i>
            <div class="doc-icon-name">HTML</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-fonts-strong"></i>
            <div class="doc-icon-name">字体加粗</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-unlink"></i>
            <div class="doc-icon-name">删除链接</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-picture"></i>
            <div class="doc-icon-name">图片</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-link"></i>
            <div class="doc-icon-name">链接</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-face-smile-b"></i>
            <div class="doc-icon-name">表情-笑-粗</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-align-left"></i>
            <div class="doc-icon-name">左对齐</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-align-right"></i>
            <div class="doc-icon-name">右对齐</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-align-center"></i>
            <div class="doc-icon-name">居中对齐</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-fonts-u"></i>
            <div class="doc-icon-name">字体-下划线</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-fonts-i"></i>
            <div class="doc-icon-name">字体-斜体</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-tabs"></i>
            <div class="doc-icon-name">Tabs 选项卡</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-radio"></i>
            <div class="doc-icon-name">单选框-选中</div>
        </li>

        <li>
            <i class="layui-icon layui-icon-circle"></i>
            <div class="doc-icon-name">单选框-候选</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-edit"></i>
            <div class="doc-icon-name">编辑</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-share"></i>
            <div class="doc-icon-name">分享</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-delete"></i>
            <div class="doc-icon-name">删除</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-form"></i>
            <div class="doc-icon-name">表单</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-cellphone-fine"></i>
            <div class="doc-icon-name">手机-细体</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-dialogue"></i>
            <div class="doc-icon-name">聊天 对话 沟通</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-fonts-clear"></i>
            <div class="doc-icon-name">文字格式化</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-layer"></i>
            <div class="doc-icon-name">窗口</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-date"></i>
            <div class="doc-icon-name">日期</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-water"></i>
            <div class="doc-icon-name">水 下雨</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-code-circle"></i>
            <div class="doc-icon-name">代码-圆圈</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-carousel"></i>
            <div class="doc-icon-name">轮播组图</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-prev-circle"></i>
            <div class="doc-icon-name">翻页</div>
        </li>

        <li>
            <i class="layui-icon layui-icon-layouts"></i>
            <div class="doc-icon-name">布局</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-util"></i>
            <div class="doc-icon-name">工具</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-templeate-1"></i>
            <div class="doc-icon-name">选择模板</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-upload-circle"></i>
            <div class="doc-icon-name">上传-圆圈</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-tree"></i>
            <div class="doc-icon-name">树</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-table"></i>
            <div class="doc-icon-name">表格</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-chart"></i>
            <div class="doc-icon-name">图表</div>
        </li>

        <li>
            <i class="layui-icon layui-icon-chart-screen"></i>
            <div class="doc-icon-name">图标 报表 屏幕</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-engine"></i>
            <div class="doc-icon-name">引擎</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-triangle-d"></i>
            <div class="doc-icon-name">下三角</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-triangle-r"></i>
            <div class="doc-icon-name">右三角</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-file"></i>
            <div class="doc-icon-name">文件</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-set-sm"></i>
            <div class="doc-icon-name">设置-小型</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-add-circle"></i>
            <div class="doc-icon-name">添加-圆圈</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-404"></i>
            <div class="doc-icon-name">404</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-about"></i>
            <div class="doc-icon-name">关于</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-up"></i>
            <div class="doc-icon-name">箭头 向上</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-down"></i>
            <div class="doc-icon-name">箭头 向下</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-left"></i>
            <div class="doc-icon-name">箭头 向左</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-right"></i>
            <div class="doc-icon-name">箭头 向右</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-circle-dot"></i>
            <div class="doc-icon-name">圆点</div>
        </li>

        <li>
            <i class="layui-icon layui-icon-search"></i>
            <div class="doc-icon-name">搜索</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-set-fill"></i>
            <div class="doc-icon-name">设置-实心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-group"></i>
            <div class="doc-icon-name">群组</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-friends"></i>
            <div class="doc-icon-name">好友</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-reply-fill"></i>
            <div class="doc-icon-name">回复 评论 实心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-menu-fill"></i>
            <div class="doc-icon-name">菜单 隐身 实心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-log"></i>
            <div class="doc-icon-name">记录</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-picture-fine"></i>
            <div class="doc-icon-name">图片-细体</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-face-smile-fine"></i>
            <div class="doc-icon-name">表情-笑-细体</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-list"></i>
            <div class="doc-icon-name">列表</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-release"></i>
            <div class="doc-icon-name">发布 纸飞机</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-ok"></i>
            <div class="doc-icon-name">对 OK</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-help"></i>
            <div class="doc-icon-name">帮助</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-chat"></i>
            <div class="doc-icon-name">客服</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-top"></i>
            <div class="doc-icon-name">top 置顶</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-star"></i>
            <div class="doc-icon-name">收藏-空心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-star-fill"></i>
            <div class="doc-icon-name">收藏-实心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-close-fill"></i>
            <div class="doc-icon-name">关闭-实心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-close"></i>
            <div class="doc-icon-name">关闭-空心</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-ok-circle"></i>
            <div class="doc-icon-name">正确</div>
        </li>
        <li>
            <i class="layui-icon layui-icon-add-circle-fine"></i>
            <div class="doc-icon-name">添加-圆圈-细体</div>
        </li>
    </ul>
</div>
