<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <title>web首页</title>
    <script type="text/javascript" src="${base}/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="${base}/js/bootstrap.js"></script>
    <script type="text/javascript" src="${base}/js/layer.js"></script>
    <script type="text/javascript" src="${base}/js/customer.js"></script>
    <link rel="stylesheet" href="${base}/css/bootstrap.min.css">
    <link rel="stylesheet" href="${base}/css/font-awesome.min.css">
    <link rel="stylesheet" href="${base}/css/layer.css">
    <link rel="stylesheet" href="${base}/css/common.css">
    <style type="text/css">
        .mydisk{
            background-color: #ECEFEE;
            height:150px;
            padding-top: 60px;
            text-align: center;
        }
        .mydisk a{
            padding: 15px 70px;
            border: 1px solid;
            font-size: 18px;
        }
        .mydisk a:hover{
            background-color: #F4F8F8;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container-fluid div-all">
        <div class="row">
            <div class="col-sm-12">
                <br>
                <h2>我的电脑</h2>
                <p class="right-text"><a href="${base}/web/resource/index.html" class="btn"><i class="fa fa-home"></i> 首页</a></p>
                <hr>
            </div>
        </div>
        <div class="row">
            <#assign rootSize="${12/(localRoots?size)}"/>
            <#list localRoots as localRoot>
                <div class="col-sm-${rootSize} mydisk">
                    <a href="${base}/web/localFile/find?path=${localRoot}">
                        <i class="fa fa-briefcase" aria-hidden="true"></i> 本地磁盘(${localRoot?substring(0,(localRoot?length)-1)})
                    </a>
                </div>
            </#list>
        </div>
    </div>
<hr>
<center>
    <small>&copy;未来实创责任有限公司&trade;小思</small>
</center>
</body>
<script type="text/javascript">
    $(function(){
//        background("pc_bg_01.jpg","mobile_bg_01.jpg");
    });
</script>
</html>